<a href="https://colab.research.google.com/github/omniappl3/omniappl3/blob/main/Python_Series_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome

Welcome to the first practical work of the week! In this practical, we will learn about the programming language Python.

# Notebooks

Today, we will use Jupyter notebooks and Google colab as the primary way to practice . Notebooks are a great way to mix executable code with rich contents. Colab allows to run notebooks on the cloud for free without any prior installation, while leveraging the power of [GPUs](https://en.wikipedia.org/wiki/Graphics_processing_unit).

The document that you are reading is not a static web page, but an interactive environment called a notebook, that lets you write and execute code. Notebooks consist of so-called code cells, blocks of one or more Python instructions. For example, here is a code cell that prints Python.

In [ ]:
var = 1
print(var)

1

Click on the "play" button to execute the cell. You should be able to see the result. Alternatively, you can also execute the cell by pressing Ctrl + Enter if you are on Windows / Linux or Command + Enter if you are on a Mac.

Variables can be used to store the different values that can be defined in one cell can later be used in other cells as well:

In [ ]:
var = 123
print (var)

123

In [ ]:
val = var + 321
val

444

Note that the order of execution is important. For instance, if we do not run the cell storing *val* beforehand, the above cell will raise an error, as it depends on this variable. To make sure that you run all the cells in the correct order, you can also click on "Runtime" in the top-level menu, then "Run all".

**Exercise.** Add a cell below this cell: click on this cell then click on "+ Code". In the new cell, store and print the value 456

In [ ]:
number1 = 376
number2 = number1 + 80
print (number2)

456

# Python

Python is one of the most popular programming languages for machine learning, both in academia and in industry. As such, it is essential to learn this language for anyone interested in machine learning. In this section, we will review Python basics.

## Arithmetic operations

Python supports the usual arithmetic operators: + (addition), * (multiplication), / (division), ** (power), // (integer division).

## Data Types

In Python, data types are the classification or categorization of data items. They determine the type of value a variable can hold. Understanding data types is fundamental to programming in Python because they help you work with different kinds of data effectively.

## **1. Numeric Datatypes**

 a) Integer (int)


*   Used for whole numbers.
*   Example: 10, -5, 0

In [ ]:
# Example of int
x = 10
y = -5
print("Type of x:", type(x))
print("Type of y:", type(y))

Type of x: <class 'int'>
Type of y: <class 'int'>

b) Float (float)

*   Used for decimal (floating-point) numbers.
*   Example: 10.5, -3.14, 0.0

In [ ]:
# Example of float
pi = 3.14
radius = 1.5
print("Type of pi:", type(pi))
print("Type of radius:", type(radius))

Type of pi: <class 'float'>
Type of radius: <class 'float'>

c) Complex (complex)

*   Used for complex numbers (numbers with a real and imaginary part).
*   Example: 3 + 4j

In [ ]:
# Example of complex
z = 3 + 4j
print("Type of z:", type(z))
print("Real part:", z.real)
print("Imaginary part:", z.imag)

Type of z: <class 'complex'>
Real part: 3.0
Imaginary part: 4.0

## **2. Sequence Data Types**

a) String (str)


*   Used for text (a sequence of characters).
*   Example: "Hello", 'Python'

In [ ]:
# Example of string
name = "Python"
print("Type of name:", type(name))
print("Length of name:", len(name))

Type of name: <class 'str'>
Length of name: 6

b) List (list)

*   A mutable collection of ordered items.
*   Example: [1, 2, 3], ["apple", "banana", "cherry"]

In [ ]:
# Example of list
fruits = ["apple", "banana", "cherry"]
print("Type of fruits:", type(fruits))
print("First fruit:", fruits[0])

Type of fruits: <class 'list'>
First fruit: apple

c) Tuple (tuple)

*   An immutable collection of ordered items.
*   Example: (1, 2, 3), ("a", "b", "c")

In [ ]:
# Example of tuple
colors = ("red", "green", "blue")
print("Type of colors:", type(colors))
print("First color:", colors[0])

Type of colors: <class 'tuple'>
First color: red

d) Range (range)

*   Represents a sequence of numbers, often used in loops.
*   Example: range(0, 10)

In [ ]:
# Example of range
numbers = range(5)
print("Type of numbers:", type(numbers))
print("List of numbers:", list(numbers))

Type of numbers: <class 'range'>
List of numbers: [0, 1, 2, 3, 4]

## **3. Mapping Data Type**

a) Dictionary (dict)


*   A collection of key-value pairs.
*   Example: {"name": "Alice", "age": 25}

In [ ]:
# Example of dictionary
person = {"name": "Alice", "age": 25}
print(person)

{'name': 'Alice', 'age': 25}

## **4. Set Data Types**

a) Set (set)


*   A collection of unique, unordered items.
*   Example: {1, 2, 3}

In [ ]:
# Example of set
unique_numbers = {1, 2, 3, 3}
print("Type of unique_numbers:", type(unique_numbers))
print("Unique items:", unique_numbers)

Type of unique_numbers: <class 'set'>
Unique items: {1, 2, 3}

b) Frozen Set (frozenset)

*   An immutable version of a set.

In [ ]:
# Example of frozenset
frozen = frozenset([1, 2, 3])
print("Type of frozen:", type(frozen))

Type of frozen: <class 'frozenset'>

## **5. Boolean Data Type**

a) Boolean (bool)


*   Represents True or False.

In [ ]:
# Example of boolean
is_active = True
print("Type of is_active:", type(is_active))

Type of is_active: <class 'bool'>

## Strings

Strings are used to store text. They can delimited using either single quotes or double quotes

In [ ]:
string1 = "some text"
string2 = 'some other text'

Strings behave similarly to lists. As such we can access individual elements in exactly the same way

In [ ]:
string1[3]

'e'

and similarly for slices

In [ ]:
string1[5:]

'text'

String concatenation is performed using the `+` operator

In [ ]:
string1 + " " + string2

'some text some other text'

## Conditionals

As their name indicates, conditionals are a way to execute code depending on whether a condition is True or False. As in other languages, Python supports `if` and `else` but `else if` is contracted into `elif`, as the example below demonstrates.

In [ ]:
my_variable = 5
if my_variable < 0:
  print("negative")
elif my_variable == 0:
  print("null")
else: # my_variable > 0
  print("positive")

positive

Here `<` and `>` are the strict `less` and `greater than` operators, while `==` is the equality operator (not to be confused with `=`, the variable assignment operator). The operators `<=` and `>=` can be used for less (resp. greater) than or equal comparisons.

Contrary to other languages, blocks of code are delimited using indentation. Here, we use 2-space indentation but many programmers also use 4-space indentation. Any one is fine as long as you are consistent throughout your code.

## Loops

Loops are a way to execute a block of code multiple times. There are two main types of loops: while loops and for loops.

While loop

In [ ]:
my_list=["apple", "banana", "cherry"]

In [ ]:
i = 0
while i < len(my_list):
  print(my_list[i])
  i += 1 # equivalent to i = i + 1

apple
banana
cherry

For loop

In [ ]:
for i in range(len(my_list)):
  print(my_list[i])

apple
banana
cherry

If the goal is simply to iterate over a list, we can do so directly as follows

In [ ]:
for element in my_list:
  print(element)

apple
banana
cherry

## Functions

To improve code readability, it is common to separate the code into different blocks, responsible for performing precise actions: functions. A function takes some inputs and process them to return some outputs.

In [ ]:
def square(x):
  return x ** 2

def multiply(a, b):
  return a * b

# Functions can be composed.
square(multiply(3, 2))

36

To improve code readability, it is sometimes useful to explicitly name the arguments

# Introduction to Classes in Python

Classes are the foundation of object-oriented programming (OOP). They act as blueprints for creating objects, which are instances of a class. Classes encapsulate data (attributes) and the functions (methods) that operate on that data.

## Key Concepts:

*   **Class:** A blueprint or template for creating objects.
*   **Object:** An instance of a class. You can create multiple objects from the same class.
*   **Attribute:** A variable that holds data associated with an object.
*   **Method:** A function that is associated with an object and can operate on its attributes.
*   **`__init__` method:** The constructor. It's called automatically when you create an object of the class. It's used to initialize the object's attributes.
*   **`self`:** A reference to the current instance of the class. It's used to access the object's attributes and methods within the class definition.

## 1. Defining a Simple Class

In [ ]:
# Define a class named 'Dog'
class Dog:
    # Constructor to initialize attributes
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed

    # Method to make the dog bark
    def bark(self):
        print("Woof!")

## 2. Creating Objects (Instances)

In [ ]:
#dogreabuddyo Dog objects
Dog1 = dog("buddy", "persian")

dog2 = dog("yuji", "tabby")

NameError: name 'dog' is not defined

## 3. Accessing Attributes and Methods

In [ ]:
# Access attributes using dot notation
print(dog1.name)
print(dog2.breed)

# Call methods
dog1.bark()
dog2.bark()

NameError: name 'dog1' is not defined

## 4. Example: A More Complex Class

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 * (self.width + self.height)

    def describe(self):
        print(f"Rectangle with width: {self.width}, height: {self.height}")

# Create a Rectangle object
rect = Rectangle(5, 10)

# Access methods
print(f"Area: {rect.area()}")
print(f"Perimeter: {rect.perimeter()}")
rect.describe()

Area: 50
Perimeter: 30
Rectangle with width: 5, height: 10

## Simplified Harry Potter Sorting Hat Project with Classes

Let's create a simplified version of our project using two classes:

1. **`Character` Class:** Represents a character with a name and a house (initially None).
2. **`SortingHat` Class:** Has a method to sort a character into a house.

In [ ]:
import random

class Character:
    def __init__(self, name):
        self.name = name
        self.house = None  # Initially not sorted

    def __str__(self):
      return f"{self.name} from House {self.house}"

class SortingHat:
    def __init__(self, houses=None):
        if houses is None:
          houses = ["Gryffindor", "Hufflepuff", "Ravenclaw", "Slytherin"]
        self.houses = houses

    def sort(self, character):
        character.house = random.choice(self.houses)
        print(f"{character.name} is sorted into {character.house}!")

# Example Usage:
harry = Character("Harry Potter")
hermione = Character("Hermione Granger")

sorting_hat = SortingHat()
sorting_hat.sort(harry)
sorting_hat.sort(hermione)
print(harry)
print(hermione)

Harry Potter is sorted into Gryffindor!
Hermione Granger is sorted into Gryffindor!
Harry Potter from House Gryffindor
Hermione Granger from House Gryffindor

This simplified example demonstrates how classes can be used to model real-world concepts (characters and a sorting hat) and their interactions. You can expand on this by adding more attributes (e.g., traits to characters), more methods (e.g., a method to determine house compatibility), and more complex logic.

# Time for a project!

Using our knowledge, we'll be making our very own Pokemon game!

1. Pokémon Class
Purpose: Represents a Pokémon with attributes like name, type, and health, and includes a method for attacking other Pokémon.

In [ ]:
class Pokemon:
    def __init__(self, name, type, health):
        self.name = name
        self.type = type
        self.health = health
    def attack(self, other_pokemon):
        damage = 10  # Fixed damage for simplicity
        print(f"{self.name} attacks {other_pokemon.name}!")
        other_pokemon.health -= damage
        if other_pokemon.health <= 0:
            print(f"{other_pokemon.name} fainted!")
        else:
            print(f"{other_pokemon.name} has {other_pokemon.health} health left.")

The __init__ method initializes the Pokémon's attributes:
name: The name of the Pokémon.
type: The type (e.g., Electric, Grass, Fire).
health: The health points (HP) of the Pokémon.
python
Copy
Edit

he attack method:
Reduces the health of the target Pokémon (other_pokemon) by a fixed damage of 10.
Prints an attack message.

Checks if the opponent's health is 0 or below:
If so, prints that the Pokémon fainted.
Otherwise, displays the remaining health.

2. Helper Function: display_pokemon_info
Purpose: Displays the attributes of a Pokémon.

In [ ]:
def display_pokemon_info(pokemon):
    print(f"Name: {pokemon.name}")
    print(f"Type: {pokemon.type}")
    print(f"Health: {pokemon.health}")

Prints the name, type, and health of a given Pokémon object.

3. Pokémon List
Purpose: A predefined list of Pokémon that can participate in battles.

In [ ]:
pokemon_list = [
    Pokemon("Pikachu", "Electric", 100),
    Pokemon("Bulbasaur", "Grass", 90),
    Pokemon("Charmander", "Fire", 85)
]

Three Pokémon are created with specific names, types, and health points.

4. Moves Tuple
Purpose: Placeholder for Pokémon moves (not yet integrated into the logic).

In [ ]:
moves = ("Thunderbolt", "Vine Whip", "Ember")

5. Main Battle Logic
Purpose: Simulates a battle between two Pokémon selected by the user.

In [ ]:
print("Choose your Pokémon:")
for i, pokemon in enumerate(pokemon_list):
    print(f"{i + 1}. {pokemon.name} ({pokemon.type})")

Displays the list of available Pokémon with an index for selection.

In [ ]:
choice_1 = int(input("Enter the number of your first Pokémon: ")) - 1
choice_2 = int(input("Enter the number of your second Pokémon: ")) - 1

Takes input from the user to select two Pokémon by their index.

In [ ]:
player_pokemon = pokemon_list[choice_1]
opponent_pokemon = pokemon_list[choice_2]

Assigns the chosen Pokémon to player_pokemon and opponent_pokemon.

6. Battle Loop
Purpose: Alternates attacks between the player's and opponent's Pokémon until one faints.

In [ ]:
while player_pokemon.health > 0 and opponent_pokemon.health > 0:
    print(f"\n{player_pokemon.name}'s turn:")
    player_pokemon.attack(opponent_pokemon)

    if opponent_pokemon.health <= 0:
        break

    print(f"\n{opponent_pokemon.name}'s turn:")
    opponent_pokemon.attack(player_pokemon)

Each Pokémon takes turns attacking.
If a Pokémon's health drops to 0 or below, the loop ends.

7. Battle Result
Purpose: Displays the winner of the battle.

In [ ]:
print("\nBattle Over!")
if player_pokemon.health > 0:
    print(f"{player_pokemon.name} wins!")
elif opponent_pokemon.health > 0:
    print(f"{opponent_pokemon.name} wins!")
else:
    print("It's a draw!")

Determines and prints the winner based on the remaining health of the Pokémon.

How It Works:
 1. The user selects two Pokémon from the list.
 2. A battle starts, with each Pokémon attacking in turn.
 3. Each attack reduces the opponent's health by 10.
 4. The battle ends when one Pokémon faints, and the winner is announced.